.assessment {
	min-width: 710px;
	position: relative;
	padding: 15px;
	color: #2b2b2b;
	
	.half {
		box-shadow: 2px 2px 10px 0 #979797;
		margin-bottom: 48px;

		.half__title {
			font-weight: 700;
		    color: #444;
		    font-size: 21px;
		   	padding: 15px;
		   	background-color: #fff;
		}
		
		.category {
			color: #444;
			background-color: #fff;
			padding: 8px;
			/* border: 2px solid #ccc;
			border-radius: 4px; */
			/* background-color: #f5f5f5; */
			
			
			.category__header{
				padding: 15px;
				background-color: #dbdbdb;
				font-size: 12px;
				background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
			    background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);
			    background-image: linear-gradient(180deg,#fff,#e8e8e8);
				box-shadow: 1px 1px 1px 0 #b2b2b2;
				text-align: left;
				
				.category__title{
					color: #3a87ad;
    				font-weight: 600;
				}
				
				.category__boss{
					float: right;
				}
			}
			.category__body{
				padding: 15px;
				
				.pas{
					
					.pa {
						margin-bottom: 48px;
						
						&:last-child {
							margin-bottom: 0px;
						}
					}
				}
				
				.half-year{
					
					
					.half-year__year {
						
						.half-year__tests {
							
						}
					}
					.half-year__no-months{
						display: block;
						text-align: center;
					}
					.half-year__display-months{
						color: #3a87ad;
					    cursor: pointer;
					    float: right;
					    position: relative;
					    padding: 16px 0px;
					}
					.half-year__months-container{
					    padding-top: 12px;
					    margin-top: 40px;
					    border-top: 1px solid #ccc;
					    
						.half-year__months{
							padding: 8px;
						    background-color: #fcf8e3;
						    color: #9c8611;
						    border: 2px solid #e2dbb3;
						    border-radius: 4px;
						}
					}
					
				}
			}
		}
	}
	
	.tasks-container {
		.new-task__container{
			/* width: auto;
			min-width: 760px; */
			
			.new-task{
				text-align: left;
				
				&__name {
					/* display: inline-block;
					padding-right: 8px;
					position: relative;
    				top: 28px; */
				}
				&__unit {
					/* display: inline-block;
					width: 110px; */
				}
				&__weight {
					/* display: inline-block;
					width: 80px;
					padding-left: 8px; */
				}
				&__min {
					/* display: inline-block;
					width: 80px;
					padding-left: 8px; */
				}
				&__targ {
					/* display: inline-block;
					width: 80px;
					padding-left: 8px; */
				}
				&__max {
					/* display: inline-block;
					width: 80px;
					padding-left: 8px; */
				}
				&__fact {
					/* display: inline-block;
					width: 80px;
					padding-left: 8px; */
				}
				&__comment {
					/* display: inline-block;
					padding-left: 8px;
					position: relative;
    				top: 28px; */
				}
			}
		}
		
		.tasks {
			width: 100%;
			border-collapse: collapse;
			margin-top: 12px;
			border-bottom: 1px solid #D3D3D3;
			
			.tasks__header-name{
				text-align: left;
				font-size: 11px;
				border-bottom: 1px solid #D3D3D3;
			}
			
			.task {
				
				&:nth-child(2n){
					background-color: #e1edfa;
				}
				&:nth-child(2n+1){
					background-color: #fff;
				}
				
				.task__name {
				    border-left: 1px solid #D3D3D3;
					border-right: 1px solid #D3D3D3;
					padding: 8px;
					word-break: break-all;
					
					&.task__name--name {
						width: 30%;
					}
					&.task__name--unit {
						
					}
					&.task__name--weight {
						
					}
					&.task__name--min {
						
					}
					&.task__name--targ {
						
					}
					&.task__name--max {
						
					}
					&.task__name--fact {
						
					}
					&.task__name--percent {
						
					}
					&.task__name--comment {
						width: 30%;
					}
				}
				.task__check-container{
					width: 30px;
    				border-top: 1px solid #D3D3D3;
    				
					.task__check {
						margin-bottom: 0px;
					}
				}
			}
		}
		.tasks-container__menu {
		    position: relative;
			top: 12px;
			
		    .tasks-container__edit{
		    	display: inline-block;
			    float: right;
		    	display: inline-block;
		    	
		    	.tasks-container__edit-button{
		    		margin-right: 12px;
		    	}
		    }
		    
		    .tasks-container__add-button{
		    	float: left;
		    }
		}
	}
	.calcs{
		margin-top: 24px;
		padding: 0;
	    font-size: 12px;
	    line-height: 18px;
	    overflow: hidden;
	    text-align: left;
		
		.calcs__label {
			color: rgba(192, 0, 20, 0.8);
			/*color: #c00014;
			color: rgba(0,0,0,.5); */
		    clear: both;
		    float: left;
		    width: 230px;
		    margin: 0 5px 10px 0;
		    text-align: left;
		    padding-bottom: 4px;
		    border-bottom: 1px solid #ccc;
		}
		.calcs__value {
			float: left;
		    margin: 0 0 10px;
		    color: #444;
		}
	}
}